* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.body {
  background-image: url(./image/image\ 3.svg);
  height: 100vh;
  /* background-position: center ; */
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  padding: 10px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.image {
  margin: 0;
  padding: 0;
}

.about nav ul {
  display: flex;
  column-gap: 20px;
}
.about nav ul li a {
  color: white;
}
.icon12 {
  display: flex;
  column-gap: 5px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
}
.text {
  font-size: 36px;
  line-height: 60px;
}
.text1 {
  line-height: 30px;
}
.section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  padding: 20px;
  row-gap: 20px;
}
.login1 {
  position: relative;
}
.login {
  max-width: 1200px;
  border-radius: 20px;
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
}
::placeholder {
  color: white;
}
.login1 i {
  position: absolute;
  right: 5px;
  top: 10px;
}
.fa-solid.fa-bars {
  display: none;
}
.fa-solid {
  /* border: 1px solid white; */
  /* border-radius: 50%; */
}
@media screen and (max-width: 767px) {
  .about {
    display: none;
  }
  .fa-solid.fa-bars {
    display: block;
  }
  .section {
    width: 60%;
  }
}
.footer1-1 {
  margin: 20px;
  padding: 20px;
}
.footer1-1 h1 {
  padding: 20px;
}
#footer {
  display: flex;
  column-gap: 20px;
}
.footer1-2 {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 25%;
  text-align: left;
  padding: 20px;
}
.footer1-2:hover {
  box-shadow: 2px 2px 6px rgba(247, 148, 137, 1);
  border: 1px solid rgba(247, 148, 137, 1);
}
.textfooter1 {
  color: rgba(247, 148, 137, 1);
}
.footer1-3 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  line-height: 30px;
}

@media screen and (max-width: 767px) {
  .footer1-1 h1 {
    display: none;
  }
  #footer {
    display: block;
  }
  .footer1-2 {
    width: 80%;
  }
}
.container1 {
  margin: 10px;
}
#page3 {
  justify-content: space-between;
}
.threepage {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 40px;
}
.threepage-1 {
  width: 30%;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.threepageimage {
  width: 100%;
}
.pilustext {
  display: flex;
  justify-content: space-between;
}
.container2 {
  margin: 0;
  padding: 0;
}
.container2 h1 {
  text-align: center;
}
#tableimage {
  display: flex;
}
.tableimage {
  width: 45%;
  text-align: left;
}
.table {
  width: 120%;
}
.product {
  padding: 0 95px;
}
.twotableimage {
  display: flex;
}
@media screen and (max-width: 767px) {
  #tableimage {
    display: block;
  }
  .starts {
    display: flex;
  }
  .threepage {
    display: flex;
    flex-direction: column-reverse;
  }
  .threepage {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

#fourpage {
  display: flex;
}
.fourpage {
  padding: 20px;
  display: inline;
  flex-direction: column;
  row-gap: 20px;
  text-align: left;
}
.fourpage h1 {
  padding: 60px;
  text-align: center;
}

.fourpage1 {
  width: 40%;
  padding: 20px;
}
.fourpage1-2 {
  line-height: 30px;
}
.fourpage1-3 {
  display: flex;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  #fourpage {
    flex-direction: column;
    align-items: center;
  }
}
#endpage {
  background-color: black;
}
.endpage1-1{
    color:white;

}
#endpage{
    display: flex;
   justify-content: space-between;
}
