.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 40px;
  }
  .image {
    border: 1px solid;
    text-align: center;
    
  }
  .box:nth-child(2) {
    background-image: url(./360_F_547978128_vqEEUYBr1vcAwfRAqReZXTYtyawpgLcC.jpg);
    background-size: cover;
    background-color: red;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .title {
    border-radius: 50%;
    width: 100px;
  }
   /* .sub-title:nth-child(odd) {
    border: 1px solid;
    text-align: center;
    background-color: rgb(16, 100, 65);
  }
  .sub-title:nth-child(even) {
    border: 1px solid;
    text-align: center;
    background-color: rgb(32, 95, 4); 
  } 
  .sub-title:nth-child(){

  }
  .title1 {
    border: 1px solid;
    text-align: center;
    background-color: rgb(16, 100, 65);
  }
  .name {
    border: 1px solid;
    text-align: center;
    background-color: rgb(16, 100, 65);
  }
   */