*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: blue;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    border: 1px solid;
    background-color: aliceblue;
    height: 300px;
    width: 500px;
     color: gray;
     margin:30px;
    
}

.in{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aqua;
}
 .in:hover{
    background-color:transparent;
 }




